.btn1 {
  padding: 4px;
  border-width: 5px;
  font-weight: bold !important;
  color: rgba(43, 43, 43, 0.482);
  font-family: "Montserrat", sans-serif !important;

  &:hover {
    padding: 4px;
    border-width: 5px;
    font-weight: bold !important;
    color: #000000 !important;
    letter-spacing: 0px !important;
    font-family: "Montserrat", sans-serif !important;
  }
}

button {
  border: 7px solid #ffffff;
  border-radius: 6px;
  border-width: 2px;
  font-weight: bold !important;
  font-size: 25px;
  color: rgba(46, 46, 46, 0.303);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 250ms;
  font-family: "Montserrat", sans-serif !important;
  font-size: 19px;

  &:hover {
    border: 7px solid #00000000;
    border-radius: 6px;
    border-width: 2px;
    font-weight: bold !important;
    color: #000000 !important;
    letter-spacing: 0px !important;
    transition-duration: 250ms;
    font-family: "Montserrat", sans-serif !important;
    font-size: 19px;
  }
}
